* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}


/* banner style */

.banner-area {
    display: flex;
    flex-flow: column;
    background-image: url(../Assets/images/banner/banner1.png);
    background-size: cover;
    height: 600px;
    align-items: flex-end;

}

.banner-texts {
    justify-content: center;
    width: 500px;
    margin-top: 200px;
    padding-right: 200px;

}

.title {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: right;
}

.desciription {
    font-size: 16px;
    line-height: .5 em;
    text-align: center;

}

.btn {
    background-color: #F15B22;
    padding: 14px 20px;
    border: 0;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 340px;

}

/* About section */

main {
    max-width: 1100px;
    margin: 0 auto;
}

.about-area {
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.about-title {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: left;
}

.about-desciription {
    font-size: 16px;
    line-height: .5 em;
    text-align: left;
    margin-bottom: 20px;
}

.text-area i {
    font-size: 15px;

}

.about-list {
    text-transform: capitalize;
    letter-spacing: 1px;
    display: inline;
    list-style: none;
    display: block;
    font-weight: normal !important;
}